<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<style>
    .middle {
        position: absolute;
        width: 50%;
        left: 25%;
    }
</style>
<body>
    <div class="middle">
    <h1 style="color:darkviolet;">For Hack2Educate</h1><br>
    <h3>By: </h3><br>
    <h5>yashasnadigsyn <a href="https://github.com/yashasnadigsyn/">Github</a></h5>
    <h5>Lakshmeesh <a href="https://github.com/Lakshmeesh02/">Github</a></h5>
    <h5>Skanda</h5>
    </div>
</body>
</html>